{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <header>
                        <h2>{{ article.title }}</h2>
                    </header>

                    <p>
                        {{ article.content }}
                    </p>

                    <p>
                        {% for tag in article.tags  %}
                            <a class="btn btn-default btn-xs" href="#">{{ tag.name }}</a>
                        {% endfor %}
                    </p>
                    <small class="author">
                        {{ article.author }}
                    </small>

                    <small class="date">
                        <ul class="list-unstyled">
                            <li> Created: {{ article.dateAdded.format("Y-M-d H:i:s") }} Server Time</li>
                            {% if (article.dateAdded != article.lastEdited) %}
                                <li> Last edited: {{ article.lastEdited.format("Y-M-d H:i:s") }} Server Time</li>
                            {% endif %}

                            <li><a class="btn btn-default btn-xs" href="{{path('category_articles', {'id': article.categoryId })  }}"><strong> {{ article.category }} </strong></a></li>
                        </ul>
                    </small>
                    <h2><strong><center>Your content would be lost forever.</center></strong></h2>
                    <footer>
                        <form class="form-horizontal" action="{{ path('article_delete', {id: article.id}) }}"
                              method="POST">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="article_category">Category</label>
                                    <div class="col-sm-6">
                                        {{ form_widget(form.category, { 'attr':{'readonly':'readonly'}}) }}
                                    </div>
                                </div>
                                {{ form_row(form._token) }}
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-4">
                                        <a class="btn btn-default"
                                           href="{{ path('article_view', {id: article.id}) }}">Cancel</a>
                                        <button type="submit" class="btn btn-danger">Confirm Delete</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </footer>
                </article>
            </div>
        </div>
    </div>




{% endblock %}